<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.4.0" targetFramework="net462" />
  <package id="EventStore.Client" version="4.0.0" targetFramework="net462" />
  <package id="EventStore.Client.Embedded" version="4.0.0" targetFramework="net462" />
  <package id="NEventStore" version="5.2.0" targetFramework="net452" />
</packages>